@charset "UTF-8";

body{
    min-height: 100%;
    background-image: url(img/pagina\ inicial.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
}
header h2{
    text-align: center;
}
img{

}
h1{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
